<!DOCTYPE html>

<html lang="en" class="theme-dark">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    {% block extrahead %}
    {% endblock %}
</head>
<body>

<nav class="navbar is-link has-shadow" role="navigation" aria-label="main navigation">
  <div class="container">
  <div class="navbar-brand">
    <a class="navbar-item has-text-weight-bold" href="https://console.getlocalcert.net/">
      console.getlocalcert.net
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="https://www.getlocalcert.net/">
        Home 
      </a>

      <a class="navbar-item" href="https://docs.getlocalcert.net/">
        Documentation
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          More
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item" href="https://docs.getlocalcert.net/">
            About
          </a>
          <a class="navbar-item" href="https://docs.getlocalcert.net/contact/">
            Contact
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item" href="https://docs.getlocalcert.net/contact/">
            Report an issue
          </a>
        </div>
      </div>
    </div>
    {% if user.is_authenticated %}
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-light" href="/accounts/logout/">
            Sign out
          </a>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
  </div>
</nav>

<section class="section">
  <div class="container">

    {% if messages %}
      {% for message in messages %}

        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <div class="notification is-success is-light">
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
        <div class="notification is-warning is-light">
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div class="notification is-danger is-light">
        {% else %}
        <div class="notification">
        {% endif %}

          {{ message }}
          <button class="delete"></button>
        </div>
      {% endfor %}
    {% endif %}

{% block content %}
{% endblock %}

  </div>
</section>

<footer class="footer">
  <div class="container">
    <nav class="level">
      <div class="level-item has-text-centered">
      <a href="https://www.getlocalcert.net/">Home</a>
      </div>

      <div class="level-item has-text-centered">
      <a href="https://docs.getlocalcert.net/">Documentation</a>
      </div>

      <div class="level-item has-text-centered">
      <a href="https://docs.getlocalcert.net/contact/">Contact</a>
      </div>

      <div class="level-item has-text-centered">
      <a href="https://docs.getlocalcert.net/contact/">Report an issue</a>
      </div>

      <div class="level-item has-text-centered">
      <a href="https://docs.getlocalcert.net/privacy/">Privacy policy</a>
      </div>
    </nav>
  </div>
</footer>

<script nonce="{{request.csp_nonce}}">
document.addEventListener('DOMContentLoaded', () => {
  (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
    const $notification = $delete.parentNode;
    $delete.addEventListener('click', () => {
      $notification.parentNode.removeChild($notification);
    });
  });
});
</script>

</body>
</html>
