  </div>
</section>

<footer class="footer">
  <div class="container">
    <nav class="level">
      <div class="level-item has-text-centered">
      <a href="TODO">About</a>
      </div>

      <div class="level-item has-text-centered">
      <a href="https://docs.getlocalcert.net/">Documentation</a>
      </div>

      <div class="level-item has-text-centered">
      <a href="TODO">Contact</a>
      </div>

      <div class="level-item has-text-centered">
      <a href="TODO">Report an issue</a>
      </div>
    </nav>
  </div>
</footer>