{% extends "base.html" %}
{% load extra_filters %}

{% block content %}
<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href="/">Domains</a></li>
    <li><a href="#">{{ domain.name | strip_trailing_dot }}</a></li>
    <li class="is-active"><a href="#" aria-current="page">Delete Key</a></li>
  </ul>
</nav>

<h1 class="title is-3">Delete API Key</h1>

<p class="block">
Are you sure you want to delete this API Key?
</p>

<p><ul>
    <li>
        Key ID: {{ targetKey.id_str }}
    </li>
    <li>
        This key is associated with <a href="{{ subdomain.name }}.{{ domain.name }}.localcert.net">{{ subdomain.name }}.{{ domain.name }}.localcert.net</a>.
    </li>
    <li>
        This key was created: {{ targetKey.created }}
    </li>
    <li>
        {% if targetKey.last_used %}
            This key was last used: {{ targetKey.last_used }}
        {% else %}
            This key was never used.
        {% endif %}
    </li>
</ul></p>

<form
    action="{% url 'delete_api_key' keyId=targetKey.id_str %}"
    method="post">
{% csrf_token %}
<input type="submit" value="Delete Key">
</form>

{% endblock %}
