{% include "page_start.html" %}
{% include "page_head_end.html" %}

{% load extra_filters %}

<h4>Delete TXT Record</h4>

<form
    action="{% url 'delete_record' %}"
    style="padding: 3em;"
    method="post">

{% csrf_token %}

{{ form.non_field_errors }}

<p class="fieldWrapper">
    <label for="{{ form.zone_name.id_for_label }}">Record Name:</label>
    <br />
    <b>_acme-challenge.{{ form.zone_name.value | strip_trailing_dot }}</b>
    {{ form.zone_name }}
    <br />
    {{ form.zone_name.errors }}
</p>
<p class="fieldWrapper">
    <label for="TODO">Record Type:</label>
    <br />
    <b>TXT</b>
    <br />
</p>
<p class="fieldWrapper">
    <label for="{{ form.rr_content.id_for_label }}">Record Content:</label>
    <br />
    <input type="text" name="rr_content" value="{{ form.rr_content.value | strip_quot }}" hidden>
    {{ form.rr_content.value }}
    <br />
    {{ form.rr_content.errors }}
</p>
<p>
<input type="submit" value="Delete Record">
</p>
</form>

{% include "page_end.html" %}