{% extends "base.html" %}
{% load extra_filters %}

{% block extrahead %}
<title>getlocalcert - {{ domain.name | strip_trailing_dot }}</title>
{% endblock %}

{% block content %}

<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href="/">getlocalcert</a></li>
    <li><a href="{% url 'list_zones'%}">My subdomains</a></li>
    <li class="is-active"><a href="#" aria-current="page">{{ domain.name | strip_trailing_dot }}</a></li>
  </ul>
</nav>

<section class="hero is-small">
  <div class="hero-body">
<h1 class="title is-2">{{ domain.name | strip_trailing_dot }}</h1>

<div class="box">
  <h2 class="title is-4">Records</h2>

  <p class="block">Manage DNS records for your domain.<p>

  <table class="table is-striped is-hoverable is-fullwidth">
    <thead>
      <tr>
        <th>Type</th>
        <th>Name</th>
        <th>TTL</th>
        <th>Content</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for record in zone_txt_records %}
        <tr>
          <td>
            TXT
          </td>
          <td title="{{ record.name }}">
          <span class="has-text-weight-semibold">{{ record.name | strip_public_suffix }}</span>.{{ record.name | get_public_suffix }}
          </td>
          <td>
          <!-- TODO -->
          {{ '60' | namedDuration }}
          </td>
          <td>
          {{ record.content }}
          </td>
          <td>
          <a class="button is-danger is-small is-outlined" href="{% url 'delete_record' %}?zone_name={{record.name}}&rr_content={{record.content}}">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% if can_add_records %}
    <a href="{{ create_resource_record_url }}">Add Record</a>
  {% else %}
    <p class="block">Unable to add more TXT records. Delete unneeded records to create more.</p>
  {% endif %}
</div>

<div class="box">
  <h2 class="title is-4">API Keys</h2>

  {% if keys|length == 0 %}
    <p class="block">You don't have any API keys for this domain.</p>
  {% else %}
    <p class="block">The following API keys are scoped to this domain.</p>

    <table class="table is-striped is-hoverable is-fullwidth">
    <thead>
      <tr>
        <th>Key ID</th>
        <th>Last used</th>
        <th>Created</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% for key in keys %}
      <tr>
        <td>{{key.id}}</td>
        <td><i>{{key.last_used}}</i></td>
        <td><i>{{key.created}}</i></td>
        <td>
          <form action="{% url 'delete_zone_api_key' %}" method="post">
            {% csrf_token %}
            <input name="secret_key_id" type="text" hidden value="{{ key.id }}">
            <input class="button is-danger is-outlined is-small" type="submit" value="Delete">
          </form>
        </td>
      </tr>
    {% endfor %}
    </tbody>
    </table>
  {% endif %}

  {% if can_create_api_key %}
  <form action="{% url 'create_zone_api_key' %}" method="post">
    {% csrf_token %}
    <input type="text" name="zone_name" hidden value="{{ domain.name }}">
    <input class="button is-secondary" type="submit" value="Create new API key">
  </form>
  {% else %}
    <p class="block">
    You've created the maximum number of API keys.
    Please delete any unneeded keys to create more.
    </p>
  {% endif %}
</div>

<div class="box">
  <h2 class="title is-4">Getting Started</h2>

  <p class="block">
    Be sure to read through the
    <a href="https://docs.getlocalcert.net/acme-clients/">documentation</a>
    to learn how getlocalcert.net works.
  </p>

  <p class="block">
    Here's a couple hints in case you run into any issues:
  </p>

  <p class="block">
    Make sure you try issuing certificates using Let's Encrypt Staging first, then try a production ACME endpoint.
  </p>

  <p class="block">
    Use
    <a href="https://letsdebug.net/?domain={{ domain.name | strip_trailing_dot}}&method=dns-01">Let's Debug</a> 
    to troubleshoot certificate issuance problems.
  </p>

  <p class="block">
    Check which certificates have been issued for your domain using
    <a href="https://crt.sh/?q={{ domain.name | strip_trailing_dot }}">crt.sh</a>.
  </p>

  <p class="block">
    Still stuck?
    Please
    <a href="https://docs.getlocalcert.net/contact/">let us know</a>.
    We're focused on developer experience and are eager to learn what we can improve.
  </p>
</div>

<i>Subdomain active since {{domain.created}}</i>
</div>
</section>

{% endblock %}
