{% extends "base.html" %}
{% load extra_filters %}

{% block extrahead %}
<title>getlocalcert - {{ domain.name | strip_trailing_dot }}</title>
{% endblock %}

{% block content %}

<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href="/">Domains</a></li>
    <li class="is-active"><a href="#" aria-current="page">{{ domain.name | strip_trailing_dot }}</a></li>
  </ul>
</nav>

<h1 class="title is-2">{{ domain.name | strip_trailing_dot }}</h1>

<div class="box">
  <h2 class="title is-4">Records</h2>

  <p class="block">Manage DNS records for your domain.<p>

  <table class="table is-striped is-hoverable is-fullwidth">
    <thead>
      <tr>
        <th>Type</th>
        <th>Name</th>
        <th>TTL</th>
        <th>Content</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for rrset in rrsets %}
        {% for record in rrset.records %}
        <tr>
          <td>
            {{ rrset.type }}
          </td>
          <td title="{{ rrset.name }}">
          {{ rrset.name | strip_domain_name }}
          </td>
          <td>
          {{ rrset.ttl | namedDuration }}
          </td>
          <td>
          {{ record.content }}
          </td>
          <td>
          {% if rrset.type == "TXT" and rrset.name|startswith:"_acme-challenge" %}
          <a class="button is-danger is-small is-outlined" href="{% url 'delete_record' %}?zone_name={{domain.name}}&rr_content={{record.content}}">Delete</a>
          {% else %}
            {% if rrset.type == "A" %}
              <a title="Learn more" href="https://docs.getlocalcert.net/records/#a-records">
            {% elif rrset.type == "SOA" %}
              <a title="Learn more" href="https://docs.getlocalcert.net/records/#soa-records">
            {% else %}
              <a title="Learn more" href="https://docs.getlocalcert.net/records/#email-records">
            {% endif %}
            &nbsp;
            <span title="This record cannot be modified">🔒</span>
            &nbsp;
            ⓘ
            </a>
          {% endif %}
          </td>
        </tr>
        {% endfor %}
      {% endfor %}
    </tbody>
  </table>

  {% if can_add_records %}
    <a href="{{ create_resource_record_url }}">Add Record</a>
  {% else %}
    <p class="block">Unable to add more TXT records. Delete unneeded records to create more.</p>
  {% endif %}
</div>

<div class="box">
  <h2 class="title is-4">API Keys</h2>

  {% if keys|length == 0 %}
    <p class="block">You don't have any API keys for this domain.</p>
  {% else %}
    <p class="block">The following API keys are scoped to this domain.</p>

    <table class="table is-striped is-hoverable is-fullwidth">
    <thead>
      <tr>
        <th>Key ID</th>
        <th>Last used</th>
        <th>Created</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% for key in keys %}
      <tr>
        <td>{{key.id}}</td>
        <td><i>{{key.last_used}}</i></td>
        <td><i>{{key.created}}</i></td>
        <td>
          <form action="{% url 'delete_zone_api_key' %}" method="post">
            {% csrf_token %}
            <input name="secret_key_id" type="text" hidden value="{{ key.id }}">
            <input class="button is-danger is-outlined is-small" type="submit" value="Delete">
          </form>
        </td>
      </tr>
    {% endfor %}
    </tbody>
    </table>
  {% endif %}

  {% if can_create_api_key %}
  <form action="{% url 'create_zone_api_key' %}" method="post">
    {% csrf_token %}
    <input type="text" name="zone_name" hidden value="{{ domain.name }}">
    <input class="button is-secondary" type="submit" value="Create new API key">
  </form>
  {% else %}
    <p class="block">
    You've created the maximum number of API keys.
    Please delete any unneeded keys to create more.
    </p>
  {% endif %}
</div>

<i>Domain active since {{domain.created}}</i>

{% endblock %}
