{% include "page_start.html" %}

{% load extra_filters %}

<style>
  table th, table td {
    padding: 2em;
    border: 1px solid #aaa;
  }
</style>

{% include "page_head_end.html" %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<h3>Domains</h3>

<table>
{% for zone in zones %}
<tr>
  <th>{{ zone.name | strip_trailing_dot }}</th>
  <td><a href="{{ zone.url }}">Manage</a></td>
</tr>
{% endfor %}
</table>

{% if zones|length < domain_limit %}

<form
    action="{% url 'create_free_domain' %}"
    method="post">
{% csrf_token %}
<input type="submit" value="Create Free Domain">
</form>


{% endif %}

{% include "page_end.html" %}