{% include "page_start.html" %}

<style>
  table th, table td {
    padding: 2em;
    border: 1px solid #aaa;
  }
</style>

{% include "page_head_end.html" %}

<h3>Domains</h3>

<table>
{% for zone in zones %}
<tr>
  <th>{{ zone.name }}</th>
  <td><a href="{% url 'describe_zone' zone_name=zone.name%}">Manage</a></td>
</tr>
{% endfor %}
</table>

{% if zones|length < domain_limit %}

<form
    action="{% url 'create_free_domain' %}"
    method="post">
{% csrf_token %}
<input type="submit" value="Create Free Domain">
</form>


{% endif %}

{% include "page_end.html" %}