{% extends "base.html" %}
{% load extra_filters %}

{% block extrahead %}
<title>getlocalcert - List Subdomains</title>
{% endblock %}

{% block content %}

<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href="/">getlocalcert</a></li>
    <li class="is-active"><a href="{% url 'list_zones'%}">My subdomains</a></li>
  </ul>
</nav>

<section class="hero is-small">
  <div class="hero-body">
<h1 class="title is-2">My Subdomains</h1>

{% if zones|length > 0 %}
  {% for zone in zones %}
  <section class="section">
    <h2 class="subtitle is-4">
      {{ zone.name | strip_trailing_dot }}
    </h2>
    <a href="{{ zone.url }}">
      Manage
    </a>
  </section>
  {% endfor %}
{% else %}
  <p class="block">
    Create a domain to get started.
  </p>
{% endif %}

{% if zones|length < domain_limit %}
  <a href="{% url 'register_subdomain' %}" class="button is-primary">Register a free subdomain</a>
{% else %}
  <p class="block">
    You've reached the subdomain limit.
    Please <a href="https://docs.getlocalcert.net/contact/">contact us</a> if you need additional subdomains.
  </p>
{% endif %}

</div>
</section>

{% endblock %}
