{% extends "base.html" %}
{% load extra_filters %}

{% block extrahead %}
<title>getlocalcert - API Key Created</title>
{% endblock %}

{% block content %}

<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href="/">getlocalcert</a></li>
    <li><a href="{% url 'list_zones'%}">My subdomains</a></li>
    <li><a href="{% url 'describe_zone' %}?zone_name={{domain}}">{{ domain | strip_trailing_dot }}</a></li>
    <li class="is-active"><a href="#" aria-current="page">Created API key</a></li>
  </ul>
</nav>

<section class="hero is-small">
  <div class="hero-body">

<h1 class="title is-3">API Key Created</h1>

<p class="block">
Please save your new API key pair in a safe location.
</p>

<p class="block">
This key has scoped access to {{ domain | strip_trailing_dot }}.
</p>

<table class="table">
  <tr>
    <th>
      Subdomain
    </th>
    <td class="is-size-5">{{ domain | strip_trailing_dot }}</td></tr><tr>
    <th>
      Key ID
    </th>
    <td id="secretKeyId" class="is-size-5">{{ secretKeyId }}</td></tr><tr>
    <th>
      Secret Key
    </th>
    <td id="secretKey" class="is-size-5">{{ secretKey }}</td></tr></table>

<details class="block">
  <summary class="is-size-5">
    View as JSON
  </summary>
  <p>
    Here's the same information as a credentials.json file. This is a standardized format that several ACME clients support. 
  </p>
  <pre>{{ credentials_json }}</pre>
</details>

<details class="block">
  <summary class="is-size-5">
    View as LEGO-style JSON
  </summary>
  <p>
  You can use the following JSON to configure a <a href="https://docs.getlocalcert.net/acme-clients/lego/">LEGO-based ACME client</a>.
  </p>
  <pre>{{ credentials_lego_json }}</pre>
</details>

<p class="block">
  Read the <a href="https://docs.getlocalcert.net/acme-clients/">docs</a> for information on using your API key pair.
</p>

<p class="block">
<a class="button is-primary" href="{{ describe_zone_url }}">Continue</a>
</p>
</div>
</section>

{% endblock %}
