{% extends "base.html" %}
{% load extra_filters %}

{% block extrahead %}
<title>getlocalcert - Stats</title>
{% endblock %}

{% block content %}
<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href="/">getlocalcert</a></li>
    <li class="is-active"><a href="#" aria-current="page">Stats</a></li>
  </ul>
</nav>

<section class="hero is-small">
  <div class="hero-body">
    <h1 class="title is-3">Stats</h1>

    {% for row in stats %}
      {% if row|length == 2 %}
      <h2 class="title is-4">
      {{ row.0 }}
      </h2>
      <table class="table is-striped is-hoverable is-fullwidth">
      {% if row.1 %}
      <thead>
        <tr>
          <th>1 day</th>
          <th>1 week</th>
          <th>30 days</th>
          <th>90 days</th>
          <th>Total</th>
          <th>Last</th>
        </tr>
      </thead>
      {% endif %}
      <tbody>
      {% else if row|length == 0 %}
      </tbody>
      </table>
      {% else %}
        <tr>
        {% for item in row %}
            <td>{{ item }}</td>
        {% endfor %}
        </tr>
      {% endif %}
    {% endfor %}
  </div>
</section>

{% endblock %}
