<style>
    table td {
        border: 2px solid #eee;
        padding: 1.3em;
        text-align: center;
    }
    h4 {
        margin-top: 5em;
    }
</style>

<h3>DNS Records for {{ subdomain.name }}.{{ domain.name }}.localcert.net</h3>

<h4>Resource Records</h4>

{% if records %}
<table>
    <tr>
        <th>Record Type</th>
        <th>label</th>
        <th>value</th>
    </tr>
    {% for record in records %}
    <tr>
        <td>TXT</td>
        <td>_acme-challenge</td>
        <td>{{ record.value }}</td>
        <td>
            <a href="{% url 'delete_resource_record' record_id=record.id %}">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
  <i>No DNS records exist for this subdomain.</i>
{% endif %}

<p>
<a href="{% url 'create_resource_record' subdomain_id=subdomain.id %}">Add Record</a>
</p>

<h4>API Keys</h4>

{% if apiKeys %}
<p>
The following API keys are currently active for this subdomain:
</p>
<table>
    <tr>
        <th>Key ID</th>
        <th>Created</th>
        <th>Last Used</th>
    </tr>
{% for apiKey in apiKeys %}
    <tr>
        <td>{{ apiKey.id }}</td>
        <td>{{ apiKey.created }}</td>
        {% if apiKey.last_used %}
            <td>{{ apiKey.last_used}}</td>
        {% else %}
            <td>Never used</td>
        {% endif %}
        <td>
            <a href="{% url 'delete_api_key' keyId=apiKey.id %}">Delete</a>
        </td>
    </tr>
{% endfor %}
</table>
{% else %}
    <p><i>No API keys exist for this subdomain.</i></p>
{% endif %}

{% if apiKeys|length != 2 %}
    <form
        action="{% url 'create_api_key' subdomain_id=subdomain.id %}"
        method="post">
    {% csrf_token %}
    <input type="submit" value="Create API Key">
    </form>
{% endif %}

<p>
These API keys only have access to update specific TXT records for {{ subdomain.name }}.{{ domain.name }}.localcert.net.
</p>

<p>
You may have up to two API keys active at any time to simplify key rotation.
If you have lost your API key secret, delete a key and create a new one.
API key secrets are only displayed once when they are created.
</p>

<p>
You can use these API keys with any ACME client that supports the <a href="https://github.com/acme-dns/acme-dns">acme-dns</a> API.
For example:
<ul>
  <li>lego (TODO)</li>
  <li>acme.sh (TODO)</li>
</ul>
</p>

<h4>Delete Subdomain</h4>

<form
    action="{% url 'delete_subdomain' subdomain_id=subdomain.id %}"
    method="post">
{% csrf_token %}
<input type="submit" value="Delete Subdomain">
</form>
